.menu-icon {
  display: block;
  width: rem(50px);
  height: rem(50px);
  @media (min-width: 1024px) {
    display: none;
  }
}
svg.hamburger-icon {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  .hamburger-icon__container {
    fill: $canvas;
    .hamburger-icon__line {
     transition: transform 400ms ease-out;
     transform-origin: 16px 16px;
    }
    .hamburger-icon__middle {
      transform: scale(1);
    }
  }
}

.menu {
  display: none;
  height: 0;
  list-style: none;
  flex-flow: column nowrap;
  justify-content: center;
  background: $lblue;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  @media (min-width: 1024px) {
    position: static;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }
  li {
    list-style: none;
    padding: 10px;
    @include rfs(20);
    a {
      color: $white;
      text-decoration: none;
      &:hover, &:focus {
        color: $canvas;
      }
    }
  }
}

.header__nav.menu--active {
  .menu {
    display: flex;
    height: auto;
  }
  svg.hamburger-icon{
    .hamburger-icon__top {
      transform: rotate(-45deg)  translate(0, 8px);
    }
    .hamburger-icon__bottom {
      transform: rotate(45deg)  translate(0, -8px);
    }
    .hamburger-icon__middle {
      transform: scale(0);
    }
  }
}