{% extends "_includes/default.njk" %}

{% block title %}24 Hour RPG 2021{% endblock %}

{% block header %}
  <div class="front-header">
    <div class="head-main">
      <img class="logo" src="img/index.svg" />
    </div>
    <div class="head-date">
      <p class="event-date">
        <span class="days">
          20<sup>th</sup> - 21<sup>st</sup>
        </span>
        <span class="month">
          March
        </span>
        <span class="year">
          2021
        </span>
      </p>
    </div>
  </div>
  <div class="newsline">
    <div class="price">75 CP</div>
    <div class="date">{% today %}</div>
    <div class="social">
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/events/771849836877128/"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/24hr_rpg"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://discord.gg/v6R9yj8WyA"><i class="fab fa-discord"></i></a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="main-area">
    <article class="main">
      <figure class="main__image">
        <img src="img/main-img.jpg" alt="Dragon staring down a party of adventures">
        <figcaption>Warriors of Waterdeep | Wizards of the Coast</figcaption>
      </figure>
      
      <h1>
        The 24 Hour RPG Event is back!
      </h1>
      <div class="article">
          <p>Welcome warriors, both keyboard and otherwise!</p>
      
          <p>This year, 24HR RPG is going virtual with a weekend of gruelling endurance and exciting adventures.
          In support of <a href="https://www.clatterbridgecc.nhs.uk/charity/events/Challenge-Events/Clatterbridge-Game-On">Clatterbridge: Game On</a> we invite gamers of every flavour to join together and raise money to help out patients by funding cutting-edge technologies and research.</p>
          
          <p>We are welcoming individual streamers as well as traditional RPG groups. We encourage everybody to stream their games on the day via Twitch, YouTube, UStream or any other suitable service <sup>[1]</sup>.</p>

          <p>Every group should also set up a JustGiving page, by clicking the Join Team button at <a href="https://justgiving.com/team/24hrpg">https://justgiving.com/team/24hrpg</a>, so all donations go to the same place. You will need to create your own just giving page first.</p>

          <p>Any players at one of the RPG tables will need to bid real money to gain their seat, with the highest bids taking a place in the game. Those streaming videogames, or other activities are less restricted in that regard, but are still very much encouraged raise as much money as they can. GM's and individual streamers don't have to bid (unless they really want to), but everyone is of course strongly encouraged to get as many sponsors as possible.</p>
          
          <p>Any sponsors have the opportunity to help or hinder their chosen beneficiary through their donations. For every £5 given, a sponsor can inflict a Friend or a Foe token, to help or hinder their efforts. Maybe it will give them a reroll, or an extra chance. Maybe the monsters get another attack in, or they are forced to stand still for a bit longer than they should.</p>

          <p><small><sup>[1]</sup>Individual players/groups don't have to participate in one of the public streams if they are uncomfortable doing so. Using character portraits, or muting from the public stream is fine, as long as they are still part of the JustGiving team page.</small></p>
      </div>
      <div class="modes">
        <h2>The Modes of Play</h2>
        <ul class="list">
          <li><strong>Pure Mode</strong> - 10am - 10am, full 24 hour endurance events for those up to the challenge.</li>
          <li><strong>Mellow Mode</strong> - A relaxed challenge consisting of 12 hours X2, 10am-10pm on both days</li>
          <li><strong>Rush Mode</strong> - For those who just want to contribute something and still be able to go to work on Monday, a simple 12 hour challenge, 10am-10pm on either day.</li>
          <li><strong>Mix Mode</strong> - Mainly for videogame streamers, as many hours as you can physically do from 1 to 48 hours depending on the amount of challenge you can manage.</li>
        </ul>
      </div>
    </article>
    <aside class="sidebar">
    <h4 class="side-heading">This Years Charity</h4>
    <a href="https://www.clatterbridgecc.nhs.uk/charity/events/Challenge-Events/Clatterbridge-Game-On"><img class="charity-image" src="/img/pcKAAa9n_400x400.png" alt=""></a>
    <h4 class="side-heading">Adventures</h4>
    <p>To take part in any of the adventures listed please email <a href="mailto:join@24hr-rpg.fyi">join@24hr-rpg.fyi</a> with the name of the adventure you would like to take part in and your bid amount for the adventure</p>
      <div class="adventures">
        {%- for post in collections.adventures -%}
          <div class="adventure">
            <figure class="adventure__image">
              <img src="{{post.data.mainImage}}" alt="">
              <figcaption>{{post.data.mainImageCaption}}</figcaption>
            </figure>
            <h3 class="adventure__title">{{post.data.title}}</h3>
            <h5 class="adventure__author">By {{post.data.gm}}</h5>
            {{ post.templateContent | safe | truncate(200) }}
            <div class="adventure__link">
              <a href="{{ post.url }}">Read more on Page {{ post.data.pageNo }} ></a>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </aside>
  </div>

  

  
{% endblock %}

{% block footer %}
  <script>
    function handleSubmit(e) {
      e.preventDefault()
      let myForm = document.querySelector('#general-enquiry');
      let formData = new FormData(myForm)
      fetch('/', {
        method: 'POST',
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams(formData).toString()
      }).then(() => {
        document.querySelector('#form-success').style.display = 'block';
      })
      .catch((error) =>
        alert(error))
    }
    document.querySelector("form").addEventListener("submit", handleSubmit);
  </script>
{% endblock %}