{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block header %}
  <div class="front-header">
    <div class="head-main">
      <img class="logo" src="img/index.svg" />
    </div>
    <div class="head-date">
      <p class="event-date">
        <span class="days">
          20<sup>th</sup> - 21<sup>st</sup>
        </span>
        <span class="month">
          March
        </span>
        <span class="year">
          2021
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="bg-parchment">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>
{% endblock %}