{% extends "_includes/default.njk" %}

{% block title %}24 Hour RPG 2021{% endblock %}

{% block header %}
  <div class="front-header">
    <div class="head-main">
      <img class="logo" src="img/index.svg" />
    </div>
    <div class="head-date">
      <p class="event-date">
        <span class="days">
          20<sup>th</sup> - 21<sup>st</sup>
        </span>
        <span class="month">
          March 2021
        </span>
      </p>
      <a href="https://justgiving.com/team/24hrpg" class="button" target="_BLANK">Donate</a>
    </div>
  </div>
  <div class="newsline">
    <div class="price">75 CP</div>
    <div class="date">{% today %}</div>
    <div class="social">
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/events/771849836877128/" target="_BLANK"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/24hr_rpg" target="_BLANK"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://discord.gg/v6R9yj8WyA" target="_BLANK"><i class="fab fa-discord"></i></a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="main-area">
    <article class="main">
      <figure class="main__image">
        {% image "./img/main-img.jpg", "Dragon staring down a party of adventures" %}
        <figcaption>Warriors of Waterdeep | Wizards of the Coast</figcaption>
      </figure>
      
      <h1>
        The 24 Hour RPG Event is back!
      </h1>
      <div class="article">
          <p>Welcome warriors, both keyboard and otherwise!</p>
      
          <p>This year, 24HR RPG is going virtual with a weekend of gruelling endurance and exciting adventures.
          In support of <a href="https://www.clatterbridgecc.nhs.uk/charity/events/Challenge-Events/Clatterbridge-Game-On">Clatterbridge: Game On</a> we invite gamers of every flavour to join together and raise money to help out patients by funding cutting-edge technologies and research.</p>
          
          <p>We are welcoming individual streamers as well as traditional RPG groups. We encourage everybody to stream their games on the day via Twitch, YouTube, UStream or any other suitable service <sup>[1]</sup>.</p>

          <p>Every group should also set up a JustGiving page, by clicking the Join Team button at <a href="https://justgiving.com/team/24hrpg">https://justgiving.com/team/24hrpg</a>, so all donations go to the same place. You will need to create your own just giving page first.</p>

          <p>Any players at one of the RPG tables will need to bid real money to gain their seat, with the highest bids taking a place in the game. Those streaming videogames, or other activities are less restricted in that regard, but are still very much encouraged raise as much money as they can. GM's and individual streamers don't have to bid (unless they really want to), but everyone is of course strongly encouraged to get as many sponsors as possible.</p>
          
          <p>Any sponsors have the opportunity to help or hinder their chosen beneficiary through their donations. For every £5 given, a sponsor can inflict a Friend or a Foe token, to help or hinder their efforts. Maybe it will give them a reroll, or an extra chance. Maybe the monsters get another attack in, or they are forced to stand still for a bit longer than they should.</p>

          <p><small><sup>[1]</sup>Individual players/groups don't have to participate in one of the public streams if they are uncomfortable doing so. Using character portraits, or muting from the public stream is fine, as long as they are still part of the JustGiving team page.</small></p>
      </div>
      <div class="modes">
        <h2>The Modes of Play</h2>
        <ul class="list">
          <li><strong>Pure Mode</strong> - 10am - 10am, full 24 hour endurance events for those up to the challenge.</li>
          <li><strong>Mellow Mode</strong> - A relaxed challenge consisting of 12 hours X2, 10am-10pm on both days</li>
          <li><strong>Rush Mode</strong> - For those who just want to contribute something and still be able to go to work on Monday, a simple 12 hour challenge, 10am-10pm on either day.</li>
          <li><strong>Mix Mode</strong> - Mainly for videogame streamers, as many hours as you can physically do from 1 to 48 hours depending on the amount of challenge you can manage.</li>
        </ul>
      </div>
      
    </article>
    <aside class="sidebar">
      <h4 class="side-heading">This Years Charity</h4>
      <div class="charity-block">
        <a href="https://www.clatterbridgecc.nhs.uk/charity/events/Challenge-Events/Clatterbridge-Game-On">
          {% image "./img/pcKAAa9n_400x400.png", "Clatterbridge Game On Logo" %}
        </a>
      </div>
      <div class="extras">
        <div class="get-involved get-involved--single">
          <div class="get-involved__blurb">
            <h2>Getting Involved</h2>
            <p>So you want to get involved in the Event?</p>
            <p>Well by the power of <span class="strike">slave</span> paid kobold labor and some human techno-magic you can get involved by the following methods:</p>
            <ol class="list">
              <li>Join as a GM by send emailing via <a href="mailto:gmjoin@24hr-rpg.fyi">gmjoin@24hr-rpg.fyi</a> with the details of your campaign and if you have any player to bring along.</li>
              <li>Join as a player via the campaign pages, or by emails <a href="mailto:join@24hr-rpg.fyi">join@24hr-rpg.fyi</a> with the campaign you would like to join.</li>
              <li>If you're a video game streamer and want to take part or want more information please email <a href="mailto:gamer@24hr-rpg.fyi">gamer@24hr-rpg.fyi</a>.</li>
              <li>You can donating via <a href="https://justgiving.com/team/24hrpg">JustGiving</a>.</li>
              <li>By spreading the word far and wide via your various social media profiles, and word of mouth</li>
            </ol>
            <p>You can also fill out the form with any general enquires. Clicking the magical send button prompts a kobold to fetch the form and bring it to one of our team for prompt answering.</p>
          </div>
            
            <form id="general-enquiry" class="form" name="general-enquiry" method="post" action="/success/" data-netlify="true" data-netlify-honeypot="bot-field">
              <input type="hidden" name="bot-field"/>
              <input type="hidden" name="form-name" value="general-enquiry" />
              <input type="hidden" name="subject" value="General Enquiry" />
              <div id="form-success" class="form-success" style="display: none">A kobold has been sent to the wizards with your message, please expect a reply within the next 24 hours.</div>
              <div class="form-element">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" />
              </div>
              <div class="form-element">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" />
              </div>
              <div class="form-element">
                <label for="enquiry">Enquiry</label>
                <textarea id="enquiry" name="enquiry"></textarea>
              </div>
              <div class="form-element">
                <input id="gdpr" type="checkbox" name="GDPR" />
                <label for="gdpr">I agree to be contacted by 24hr RPG regarding my enquiry. 24hr RPG will not pass your details onto any third parties.</label>
              </div>
              <div class="form-button">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
      </div>
    </aside>
  </div>
  <h4 class="side-heading">Adventures</h4>
  <p>To take part in any of the adventures listed please email <a href="mailto:join@24hr-rpg.fyi">join@24hr-rpg.fyi</a> with the name of the adventure you would like to take part in and your bid amount for the adventure</p>
  <div class="adventures">
    {%- for post in collections.adventures -%}
      <div class="adventure">
        <figure class="adventure__image">
          {% image post.data.mainImage, post.data.title %}
          <figcaption>{{post.data.mainImageCaption}}</figcaption>
        </figure>
        <h3 class="adventure__title">{{post.data.title}}</h3>
        <h5 class="adventure__author">By {{post.data.gm}}</h5>
        <p><strong>Duration: </strong>{{post.data.timing}}</p>
        {{ post.templateContent | safe | truncate(200) }}
        <div class="adventure__link">
          <a href="{{ post.url }}">Read more on Page {{ post.data.pageNo }} ></a>
        </div>
      </div>
    {%- endfor -%}
  </div>
  
  
  
{% endblock %}

{% block footer %}
  <script>
    function handleSubmit(e) {
      e.preventDefault()
      let myForm = document.querySelector('#general-enquiry');
      let formData = new FormData(myForm)
      fetch('/', {
        method: 'POST',
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams(formData).toString()
      }).then(() => {
        document.querySelector('#form-success').style.display = 'block';
      })
      .catch((error) =>
        alert(error))
    }
    document.querySelector("form").addEventListener("submit", handleSubmit);
  </script>
{% endblock %}
