<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ title }}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#04384A">
    <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#04384A">
    <meta property="og:image" content="https://24hr-rpg.fyi/img/facebook.png"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:url" content="https://24hr-rpg.fyi">
    <meta property="og:site_name" content="24 hour RPG Challenge 2021"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="24 hour RPG Challenge">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="24 hour RPG Challenge 2021 for Clatterbridge Cancer Charity">
    <meta name="twitter:image:src" content="https://24hr-rpg.fyi/img/facebook.png">
    <meta name="twitter:domain" content="24hr-rpg.fyi">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/732ee7a79a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
  </head>
  <body class="bg-parchment">
    <div class="page">
      <div class="newsline">
        <div class="price"><a href="/">< Back to the front page</a></div>
        <div class="page-number">
          Page {{pageNo}}
        </div>
      </div>
      <div class="adventure-main">
        <div class="main">
          <h1 class="adventure__title">{{ title | safe }}</h1>
          <figure class="adventure__image">
            {% image mainImage, title %}
            <figcaption>{{mainImageCaption}}</figcaption>
          </figure>
          <p><strong>Duration:</strong> {{ timing | safe }}</p>
          {{ content | safe }}
        </div>
        <div class="sidebar">
          <div class="get-involved get-involved--single">
            <div class="get-involved__blurb">
              {%-if players-%}
                <h2> Current Players ({{players | length}} / {{maxPlayers}})</h2>
                <ol class="list">
                  {%- for player in players -%}
                    <li>{{player}}</li>
                  {%- endfor -%}
                </ol>
              {%- endif -%}
              
              
              
            </div>
            {%-if players | length >= maxPlayers -%}
            <h2>Want to get Involved?</h2>
              <p><i class="fab fa-twitch"></i> <strong>Watch The Stream:</strong> <a href="{{streamLink}}">{{streamLink}}</a></p>
              <p><i class="fas fa-donate"></i> <strong>Donate to this Adventure:</strong> <a href="{{donationLink}}">{{donationLink}}</a></p>
              <p> Sorry, this adventures bidding has now closed</p>
              <p>If you're just looking to donate, please go to our <a href="https://justgiving.com/team/24hrpg">JustGiving</a> page to donate.</p>
            
            {%- else -%}
              <h2>Want to get Involved?</h2>
              <p>You can fill out this form with you bid for if you want to join this campaign. Clicking the magical send button prompts a kobold to fetch the form and bring it to one of our team. Or you can email <a href="mailto:join@24hr-rpg.fyi">join@24hr-rpg.fyi</a></p>
              <p>If you're just looking to donate and do not want to join this campaign, please go to our <a href="https://justgiving.com/team/24hrpg">JustGiving</a> page to donate.</p>
              <form id="I-want-to-play" class="form" name="I-want-to-play" method="post" action="/success/" data-netlify="true" data-netlify-honeypot="bot-field">
              <input type="hidden" name="bot-field">
              <input type="hidden" name="form-name" value="I-want-to-play">
              <input type="hidden" name="subject" value="I want to play {{title}}">
              
              <div class="form-element">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" required="">
              </div>
              <div class="form-element">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" required="">
              </div>
              <div class="form-element">
                <label for="bid">Bid Amount</label>
                <input id="bid" type="text" name="bid" required="">
              </div>
              <div class="form-element">
                <input id="gdpr" type="checkbox" name="GDPR" />
                <label for="gdpr">I agree to be contacted by 24hr RPG regarding my bid. 24hr RPG will not pass your details onto any third parties.</label>
              </div>
              <div class="form-button">
                <button type="submit">Send</button>
              </div>
            </form>
            <div id="form-success" class="form-success" style="display: none">A kobold has been sent to the wizards with your message, please expect a reply within the next 24 hours.</div>
            {%- endif -%}
            
          </div>
        </div>
      </div>   
    </div>
    <script>
      function handleSubmit(e) {
        e.preventDefault()
        let myForm = document.querySelector('#I-want-to-play');
        let formData = new FormData(myForm)
        fetch('/', {
          method: 'POST',
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams(formData).toString()
        }).then(() => {
          document.querySelector('#form-success').style.display = 'block';
          myForm.style.display = 'none';
        })
        .catch((error) =>
          alert(error))
      }
      document.querySelector("form").addEventListener("submit", handleSubmit);
    </script>
  </body>
</html>
