<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#04384A">
    <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#04384A">
    <meta property="og:image" content="https://24hr-rpg.fyi{{openGraphImage}}"/>
    <meta property="og:image:alt" content="{{openGraphImageAlt}}"/>
    <meta property="og:title" content="{{openGraphTitle}}"/>
    <meta property="og:url" content="https://24hr-rpg.fyi{{page.url}}">
    <meta property="og:site_name" content="24 hour RPG Challenge"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="24 hour RPG Challenge">
    <meta name="twitter:title" content="{{openGraphTitle}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image:src" content="https://24hr-rpg.fyi{{openGraphImage}}">
    <meta name="twitter:domain" content="https://24hr-rpg.fyi{{page.url}}">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-parchment">
    <div class="page">
      {% include "offCanvas.njk" %}
      {% block header %}
        {{ header | safe }}
      {% endblock %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      {% block footer %}
        {{ footer | safe }}
      {% endblock %}
    </div>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-hexagonal" viewBox="0 0 32 32">
          <path d="M31.604 14.523l-6.524-11.298c-0.528-0.914-1.503-1.477-2.558-1.477h-13.047c-1.055 0-2.029 0.562-2.558 1.477l-6.523 11.298c-0.527 0.914-0.527 2.040 0 2.954l6.523 11.299c0.529 0.914 1.503 1.477 2.558 1.477h13.047c1.055 0 2.030-0.563 2.558-1.477l6.524-11.299c0.527-0.914 0.527-2.040 0-2.954z"></path>
        </symbol>
      </defs>
    </svg>
  </body>
</html>