/*===================================================================
BASE
===================================================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
.button {
  background: #0B90AA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.625rem;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 1.125rem;
  font-weight: 700
}
.button .just-giving-svg {
  width: 1.875rem;
  margin-right: 0.625rem;
}
.button:hover, .button:focus {
  background: #007791;
}
/*===================================================================
COMPONENTS
===================================================================*/
.site-header {
  background: #04384A;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; 
  padding: 0.625rem 1.25rem
}
.site-header .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.site-header img {
  max-height: 3.75rem;
}
.site-nav {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.open-menu {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 900;
}
.site-sidebar {
  background: #04384A;
  width: 100%;
  padding: 1.25rem 0.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15.625rem;
  z-index: 1000;
  -webkit-transform: translateX(-15.625rem);
      -ms-transform: translateX(-15.625rem);
          transform: translateX(-15.625rem);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease
}
.site-sidebar.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1024px) {
  .site-header {
    display: none;
  }
  .site-sidebar {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none
}
.main-menu li {
  padding: 1.25rem 0;
}
.main-menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 900;
}
.main-menu li > ul {
  list-style: none;
  padding: 0.625rem
}
.main-menu li > ul li {
  padding: 0.625rem 0;
}
.main-menu li > ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
.content-area {
  background: #EFEBD9;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.offcanvas-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  z-index: -100;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease
}
.offcanvas-close.active {
  z-index: 100;
  background: rgba(255, 255, 255, .3);
}
@media (min-width: 1024px) {
  .content-area {
    width: calc(100% - 15.625rem);
    margin-left: 15.625rem;
  }
}
.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#04384A)), url('../img/hero-2018.jpg');
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #04384A 100%), url('../img/hero-2018.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 26.041666666666668vw;
  min-height: 18.75rem;
  position: relative;
  padding: 1.25rem
}
.hero.hero--get-involved {
  background-image: url('../img/hero.jpg');
}
.hero.hero--adventure {
  background-image: url('../img/adventure-hero.jpg');
}
.hero.hero--dnd {
  background-image: url('../img/dnd-hero.jpg');
}
.hero.hero--numenera {
  background-image: url('../img/numenera-hero.jpg');
  background-position: top 30% center;
}
.hero.hero--wfrp {
  background-image: url('../img/wfrp-hero.jpg');
}
.hero__title {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(2.25rem + 36 * ((100vw - 64rem) / 896));
  font-weight: 900;
  line-height: 1
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 2.25rem;
  }
}
.hero__title span {
  font-size: calc(1.5rem + 24 * ((100vw - 64rem) / 896));
  font-weight: 700;
}
@media screen and (min-width: 1920px) {
  .hero__title span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero__title span {
    font-size: 1.5rem;
  }
}
.main {
  padding: 1.875rem;
}
@media (min-width: 1024px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    grid-column-gap: 2.5rem;
    padding: 3.75rem
  }
  .main.main--get-involved {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.25rem;
  }
  .main--get-involved .span-all {
    grid-column: 1/-1;
  }
  .main--get-involved .donate, .main--get-involved .sponser {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .main--get-involved .donate-desciption, .main--get-involved .sponser-description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .main--get-involved .play {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .main--get-involved .play-description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .main--get-involved .donate, .main--get-involved .sponser, .main--get-involved .play {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0
  }
  .main--get-involved .donate svg, .main--get-involved .sponser svg, .main--get-involved .play svg {
    width: auto;
  }
}
.main--get-involved .donate, .main--get-involved .sponser, .main--get-involved .play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem
}
.main--get-involved .donate svg, .main--get-involved .sponser svg, .main--get-involved .play svg {
  width: 18.75rem;
}
.main-content {
  margin-bottom: 2.5rem;
}
.main-content__title {
  color: #0B90AA;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(2rem + 32 * ((100vw - 64rem) / 896));
  font-weight: 900;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 1920px) {
  .main-content__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-content__title {
    font-size: 2rem;
  }
}
.main-content__title.main-content__title--small {
  font-size: calc(1.5rem + 24 * ((100vw - 64rem) / 896));
  font-weight: 900;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1920px) {
  .main-content__title.main-content__title--small {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-content__title.main-content__title--small {
    font-size: 1.5rem;
  }
}
.main-list li {
  margin-bottom: 0.625rem;
}
.just-giving-widget {
  margin-bottom: 1.875rem
}
.just-giving-widget .jg-widget {
  background: #FFFFFF;
}
.main-gallery {
 -ms-grid-column-span: 2;
 grid-column: span 2;
 margin-top: 3.75rem;
}
.image-grid {
  margin-top: 1.875rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem; 
}
.img-1 {
 -ms-grid-column: 1;
 -ms-grid-column-span: 2;
 grid-column: 1 / 3;
 -ms-grid-row: 1;
 -ms-grid-row-span: 2;
 grid-row: 1 / 3;
}
.img-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

footer {
  background: #111111;
  color: #FFFFFF;
  padding: 1.25rem
}

footer p {
  margin: 0;
}

@media (min-width: 1024px) {
  .adventure-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25rem;
  }
  .adventure-single {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.25rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.adventure-thumb a {
  text-decoration: none
}
.adventure-thumb a:hover img,.adventure-thumb a:focus img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.adventure-thumb h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0B90AA;
}
.adventure-thumb img {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-bottom: 0.625rem;
  width: 100%;
  max-width: 23.125rem;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.adventure-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 1024px) {
  .adventure-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25rem;
  }
  .adventure-single {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.25rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adventure-thumb img{
    max-width: 100%;
  }
}