/*===================================================================
BASE
===================================================================*/
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
p {
  margin: 0;
  margin-bottom: 1.25rem;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/*===================================================================
ATOMS
===================================================================*/
.bg01 {
  background-color: #04384A
}
.bg02 {
  background-color: #0B90AA
}
.bg03 {
  background-color: #EFEBD9
}
.bg04 {
  background-color: #B1B336
}
.cl01 {
  color: #04384A
}
.cl02 {
  color: #0B90AA
}
.cl03 {
  color: #EFEBD9
}
.cl04 {
  color: #B1B336
}
.clwh {
  color: #FFFFFF
}
.clbl {
  color: #111111
}
.fs01 {
  font-size: calc(2.25rem + 36 * ((100vw - 20rem) / 440));
}
@media screen and (min-width: 760px) {
  .fs01 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 320px) {
  .fs01 {
    font-size: 2.25rem;
  }
}
.fs02 {
  font-size: calc(1.5rem + 24 * ((100vw - 20rem) / 440));
}
@media screen and (min-width: 760px) {
  .fs02 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 320px) {
  .fs02 {
    font-size: 1.5rem;
  }
}
.fs03 {
  font-size: calc(1.25rem + 4 * ((100vw - 20rem) / 440));
  line-height: 1.2;
}
@media screen and (min-width: 760px) {
  .fs03 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .fs03 {
    font-size: 1.25rem;
  }
}
.fs04 {
  font-size: calc(1rem + 4 * ((100vw - 20rem) / 440));
  line-height: 1.2;
}
@media screen and (min-width: 760px) {
  .fs04 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 320px) {
  .fs04 {
    font-size: 1rem;
  }
}
.fs05 {
  font-size: calc(0.8125rem + 5 * ((100vw - 20rem) / 440));
  line-height: 1.2;
}
@media screen and (min-width: 760px) {
  .fs05 {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 320px) {
  .fs05 {
    font-size: 0.8125rem;
  }
}
.fs06 {
  font-size: calc(1.5rem + 12 * ((100vw - 20rem) / 440));
  line-height: 1.2;
}
@media screen and (min-width: 760px) {
  .fs06 {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 320px) {
  .fs06 {
    font-size: 1.5rem;
  }
}
.p50 {
  padding: 3.125rem 0;
}
.mb15 {
  margin-bottom: 0.9375rem;
}
.mb30 {
  margin-bottom: 1.875rem;
}
.ff01 {
  font-family: 'Roboto', sans-serif;
}
.ff02 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}
.txtctr {
  text-align: center;
}
.txtlft {
  text-align: left;
}
.txtrht {
  text-align: left;
}
.txtsh {
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .25);
}
.flexctr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.wrapper {
  width: 100%;
  max-width: 64rem;
  margin: 0 0.625rem;
}
/*===================================================================
HERO
===================================================================*/
.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 33.4375rem
}
.hero .hero-wrapper {
  max-width: 48.75rem;
  margin: 0 auto;
}
.about-us {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center
}
.about-us .about-us-wrapper {
  max-width: 53.125rem;
  margin: 0 auto;
}
.location-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap
}
.location-wrapper h2 {
  max-width: 100%;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0.625rem;
}
.location-wrapper .map {
  max-width: 100%;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0.625rem;
}
.location-wrapper .desciption {
  max-width: 100%;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0.625rem 1.875rem;
}
.involved-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap
}
.involved-wrapper .donate, .involved-wrapper .play, .involved-wrapper .donate-desciption, .involved-wrapper .play-description, .involved-wrapper .sponser-description {
  padding: 0 0.625rem;
}
.involved-wrapper .donate, .involved-wrapper .play, .involved-wrapper .sponser {
  width: 100%;
  text-align: center;
  padding-bottom: 1.875rem;
}
.involved-wrapper svg {
  max-width: 18.75rem;
}
.session-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .location-wrapper .map {
    max-width: 41.66667%;
    -webkit-flex: 1 1 41.66667%;
        -ms-flex: 1 1 41.66667%;
            flex: 1 1 41.66667%;
  }
  .location-wrapper .desciption {
    max-width: 58.33333%;
    -webkit-flex: 1 1 58.33333%;
        -ms-flex: 1 1 58.33333%;
            flex: 1 1 58.33333%;
  }
  @supports ((display: -ms-grid) or (display: grid)) {
    .location-wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 41.66667% 58.33333%;
          grid-template-columns: 41.66667% 58.33333%;
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      grid-column-gap: 1.25rem
    }
    .location-wrapper h2 {
      grid-column: 1/3;
    }
    .location-wrapper h2, .location-wrapper .map, .location-wrapper .desciption {
      max-width: none;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      padding: 0;
    }
    .involved-wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
      -ms-grid-rows: (auto)[3];
          grid-template-rows: repeat(3, auto);
      grid-column-gap: 3.125rem;
      grid-row-gap: 3.125rem;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center
    }
    .involved-wrapper .donate, .involved-wrapper .play, .involved-wrapper .sponser {
      padding-bottom: 0;
    }
    .involved-wrapper .donate-desciption {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .involved-wrapper .donate {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    .involved-wrapper .sponser {
      grid-column: 4/5;
      grid-row: 3/4;
    }
    .involved-wrapper .sponser-description {
      grid-column: 1/4;
      grid-row: 3/4;
    }
    .involved-wrapper .play-description {
      grid-column: 2/5;
      grid-row: 2/3;
    }
    .involved-wrapper .play {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  .sessions-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 1.25rem;
    grid-row-gap: 2.5rem;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
