:root {
  --midnight-black: #04384A;
  --teal: #0B90AA;
  --canvas: #EFEBD9;
  --bean: #B1B336;
  --white: #FFFFFF;
  --black: #111111;
  --roboto: 'Roboto', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}
@custom-media --medium (min-width: 760px);
@custom-media --large (min-width: 1024px);
@custom-media --xlarge (min-width: 1400px);

/*===================================================================
BASE
===================================================================*/
* {
  box-sizing: border-box;
}
body {
  font-family: var(--roboto);
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.4;
  & a {
    color: var(--midnight-black);
  }
}
img {
  max-width: 100%;
}
.main ul li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
}
figure {
  margin: 0;
}
.button {
  background: #0B90AA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  transition: all 250ms ease;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  & .just-giving-svg {
    width: 30px;
    margin-right: 10px;
  }
  &:hover, &:focus {
    background: #007791;
  }
}
.time-slot {
  display: flex;
  & svg {
    fill: var(--midnight-black);
    margin-right: 10px;
  }
}
.run {
  font-size: responsive 20px 30px;
  font-range: 1024px 1920px;
  font-weight: 900;
  color: var(--teal);
}
.smaller-link {
  word-break: break-all;
}
/*===================================================================
COMPONENTS
===================================================================*/
.site-header {
  background: var(--midnight-black);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
  & .logo {
    display: flex;
  }
  & img {
    max-height: 60px;
  }
}
.site-nav {
  flex-grow: 2;
}
.open-menu {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}
.site-sidebar {
  background: var(--midnight-black);
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 1000;
  transform: translateX(-250px);
  transition: transform 250ms ease;
  &.active {
    transform: translateX(0);
  }
}

@media (--large) {
  .site-header {
    display: none;
  }
  .site-sidebar {
    transform: translateX(0);
  }
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    padding: 20px 0;
  }
  & li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
  }
}
.main-menu li > ul {
  list-style: none;
  padding: 10px;
  & li {
    padding: 10px 0;
  }
  & li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }
}
.content-area {
  background: var(--canvas);
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.offcanvas-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  z-index: -100;
  transition: background 250ms ease;
  &.active {
    z-index: 100;
    background: rgba(255, 255, 255, 0.3);
  }
}
@media (--large) {
  .content-area {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}
.hero {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--midnight-black) 100%), data-uri('assets/img/hero-2018.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 26.041666666666668vw;
  min-height: 300px;
  position: relative;
  padding: 20px;
  &.hero--get-involved {
    background-image: data-uri('assets/img/hero.jpg');
  }
  &.hero--adventure {
    background-image: data-uri('assets/img/adventure-hero.jpg');
  }
  &.hero--dnd {
    background-image: data-uri('assets/img/dnd-hero.jpg');
  }
  &.hero--numenera {
    background-image: data-uri('assets/img/numenera-hero.jpg');
    background-position: top 30% center;
  }
  &.hero--wfrp {
    background-image: data-uri('assets/img/wfrp-hero.jpg');
  }
  &.hero--gm {
    background-image: data-uri('assets/img/gm-hero.jpg');
    background-position: top 15% center;
  }
  &.hero--blades {
    background-image: data-uri('assets/img/blades-hero.jpg');
  }
  &.hero--woin {
    background-image: data-uri('assets/img/woin-hero.jpg');
  }
}
.hero__title {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: responsive 36px 72px;
  font-range: 1024px 1920px;
  font-weight: 900;
  line-height: 1;
  & span {
    font-size: responsive 24px 48px;
    font-range: 1024px 1920px;
    font-weight: 700;
  }
}
.main {
  padding: 30px;
}
@media (--large) {
  @supports (display: grid) {
    .main {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto auto;
      grid-column-gap: 40px;
      padding: 60px;
      &.main--get-involved {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
      }
    }
    .main--get-involved .span-all {
      grid-column: 1/-1;
    }
    .main--get-involved .donate, .main--get-involved .sponser {
      grid-column: 1/2;
    }
    .main--get-involved .donate-desciption, .main--get-involved .sponser-description {
      grid-column: 2/5;
    }
    .main--get-involved .play {
      grid-column: 4/5;
      grid-row: 4/5;
    }
    .main--get-involved .play-description {
      grid-column: 1/4;
      grid-row: 4/5;
    }
  }
  .main--get-involved .donate, .main--get-involved .sponser, .main--get-involved .play {
    justify-content: flex-start;
    margin-bottom: 0;
    & svg {
      width: auto;
    }
  }
}
.main--get-involved .donate, .main--get-involved .sponser, .main--get-involved .play {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  & svg {
    width: 300px;
  }
}
.main-content {
  margin-bottom: 40px;
}
.main-content__title {
  color: var(--teal);
  font-family: var(--montserrat);
  font-size: responsive 32px 64px;
  font-range: 1024px 1920px;
  font-weight: 900;
  margin-bottom: 30px;
}
.main-content__title.main-content__title--small {
  font-size: responsive 24px 48px;
  font-range: 1024px 1920px;
  font-weight: 900;
  margin-bottom: 20px;
}
.main-list li {
  margin-bottom: 10px;
}
.just-giving-widget {
  margin-bottom: 30px;
  & .jg-widget {
    background: var(--white);
  }
}
.main-gallery {
 grid-column: span 2;
 margin-top: 60px;
}
.image-grid {
  display: flex;
  & > figure {
    padding: 5px;
    flex: 1 1 33.333333%;
  }
}

@supports (display: grid) {
  .image-grid {
    margin-top: 30px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
  }
  .img-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  }
  .img-4 {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
  }
}

footer {
  background: var(--black);
  color: var(--white);
  padding: 20px;
  & p {
    margin: 0;
  }
}

.adventure-thumb a {
  text-decoration: none;
  &:hover img,&:focus img {
    transform: scale(1.05);
  }
}
.adventure-thumb h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: var(--teal);
}
.adventure-thumb img {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-bottom: 10px;
  width: 100%;
  max-width: 370px;
  transform: scale(1);
  transition: all 250ms ease;
}
.adventure-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.adventure-grid, .adventure-single {
  margin-bottom: 30px;
}
@media (--large) {
  @supports (display: grid) {
    .adventure-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      margin-bottom: 30px;
    }
    .adventure-single {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 20px;
      align-items: center;
    }
    .adventure-thumb img{
      max-width: 100%;
    }
  }
}
.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.social-icon svg {
  width: 50px;
  height: 50px;
  fill: var(--white);
}