---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout 
title="24 Hour RPG Challenge 2022"
description="bla" 
openGraphTitle="Welcome to 24 Hour RPG Challenge 2022"
openGraphImage="/images/facebook.png"
openGraphImageAlt="24 Hour RPG Challenge"
>
<Header charityLogo="./src/images/shelter-Logo.png" charityName="Shelter Charity Logo" link="https://www.justgiving.com/fundraising/24-Hour-RPG-Challenge"/>

	<main>
		
	</main>
</Layout>

<style>


</style>
