---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout 
title="Welcome to Astro."
description="bla" 
openGraphTitle="Welcome to Astro facebook"
openGraphImage="/images/facebook.png"
openGraphImageAlt="24 hours"
>
<Header logo="index" charityLogo="/src/images/shelter-Logo.png" charityName="Shelter Charity Logo" link="https://www.justgiving.com/fundraising/24-Hour-RPG-Challenge"/>

	<main>
		
	</main>
</Layout>

<style>


</style>
