.banner {
  min-height: 500px;
  width: 100%;
  background-color: #04384A;
  background-image: url('../images/hex-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}