---
    import '../global.css';
    export interface Props {
        text: string;
        link: string;
        target: string;
        type: string;
    }
    const { text, link, target="_SELF", type="primary" } = Astro.props as Props;
---

<a href={link} class={`button button--${type}`} target={target} ><span>{text}</span></a>

<style>
    .button, .button--primary {
        --btn-bg: var(--green);
        --btn-border: var(--green);
        --btn-color: var(--dblue);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        background-color: var(--btn-bg);
        color: var(--btn-color);
        border: 2px solid var(--btn-border);
        border-radius: 4px;
        text-decoration: none;
        font-weight: 500;
        transition: all 250ms ease-in;
        &:hover, &:focus {
            --btn-bg: transparent;
            --btn-color: var(--green);
        }
    }
    .button--secondary {
        --btn-bg: var(--white);
        --btn-color: var(--black);
        &:hover, &:focus {
            --btn-bg: var(--black);
            --btn-color: var(--white);
        }
    }
</style>