---
---

<footer class="site-footer">
    <div class="site-footer__inner">
        <p>&copy; 24HR RPG Roleplaying Games for Charity</p>
    </div>
</footer>

<style>
 .site-footer {
    background-color: var(--dblue);
    padding: 20px 32px;
 }
 .site-footer__inner {
    color: var(--white);
    p {
        font-size: var(--font-size-mouse);
        margin: 0;
    }
 }
</style>