---
---

<footer class="site-footer">
    <div class="site-footer__inner">
        <p>&copy; 24HR RPG Roleplaying Games for Charity</p>
    </div>
</footer>

<style>
 .site-footer {
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 2px 0;
    margin: 20px 32px;
 }
 .site-footer__inner {
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
    padding: 8px 16px;
    p {
        font-size: var(--font-size-mouse);
        margin: 0;
    }
 }
</style>